@charset "utf-8";
/*--導入Google線上字型--------------------------------------------------*/
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body{ margin: 0; }
a, a:hover{ text-decoration: none; }

/*--flex水平及垂直版面設定--------------------------------------------------*/ 
.flex{
    display: flex;
    align-items: center;    
    justify-content: center;
    flex: 1 1 auto; /*IE11*/
}
.flex_COL{ flex-direction: column; }


/*--header區塊--------------------------------------------------*/ 
header{
    background-color: #222;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
}
    /*navbar*/
    .brand{ font: 600 20px/50px 'Open Sans'; }
    nav{ font: 400 15px/50px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體"; }
    nav a{ color: #FFF; margin: auto 1.5vw; }
    nav a:hover{ color: #BBB; }


/*--section、footer區塊共用樣式--------------------------------------------------*/ 
section, footer{
    height: calc(100vh - 50px);
    padding-top: 50px;
    color: #888;
    text-align: center;
}
    /*標題及內文*/
    h1{
        margin: 20px auto;
        font: 300 50px/60px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";
    }
    .innerText{ 
        width: 78vw; /*IE11*/
        margin: auto 10vw;
        font: 300 18px/30px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";
        text-align: justify;
    }

/*--首頁樣式--------------------------------------------------*/ 
#home{
    background: url("../images/Home_Background.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
}
    /*首頁Title*/
    #Title{ margin: 60px; }
    .mainTitle{ font: 300 43px/50px 'Open Sans'; }
    .subTitle{ font: 600 60px/60px 'Open Sans'; }
    .thrTitle{ font: 400 25px/60px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體"; }
    /*getStart按鈕*/
    #getStart{
        background-color: rgba(241, 104, 118, 0.7);
        border-radius: 8px;
        padding: 8px 45px;
        color: #FFF;
        font: 300 20px/40px 'Open Sans';
    }
    #getStart:hover{ background-color: rgba(241, 104, 118, 1); }

/*--第二頁樣式--------------------------------------------------*/  
#s2{ background-color: rgba(228, 228, 228, 0.4); }

/*--第三頁樣式--------------------------------------------------*/  
#s3{
    background: url("../images/s3_Background.jpg") no-repeat center center;
    background-size: cover;
    color: #FFF;
}
#s3_1{
    background: url("../images/s3_1_Background.jpg") no-repeat center center;
    background-size: cover;
    color: #FFF;
}
    /*PayType表格、參考文獻*/
    #PayType{
        border: thin rgba(245,245,245,0.3) solid;
        border-spacing: 0;
    }
    #PayType th{
        background-color:rgba(245,245,245,0.3);
        padding: 15px;
        font: 400 24px/28px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";
    }
    #PayType td{
        border:thin rgba(245,245,245,0.3) solid;
        padding: 15px;
        font: 300 18px/30px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";
    }
    .reference { width: 80%; margin:10px; text-align: right; }
    .reference a{ color: #fff; }

/*--第四頁樣式--------------------------------------------------*/ 
#s4{ background-color: #fff8d0; color: #555;}
    .vsPay{ margin: 20px; padding: 20px; border-radius: 15px;}
    .LINE{ background-color: #00C43E; }
    .JKO{ background-color: #E6090E; }
#s4_1{ background-color: #d54e8d; }
    /*getContinue按鈕*/
    #getContinue{
        background-color: rgba(112, 112, 112, 0.7);
        border-radius: 8px;
        padding: 5px 10px;
        color: #FFF;
        font: 300 18px/18px 'Open Sans';
    }
    #getContinue:hover{ background-color: rgba(112, 112, 112, 1); }

/*--表單樣式--------------------------------------------------*/ 
fieldset{
    border: #CCC solid 1px;
    border-radius: 8px;
    padding: 30px 40px;
    text-align: left;
}
label{
    margin: 20px auto;
    font: 300 18px/30px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";
    vertical-align: middle;
}
input, textarea{
    height: 28px;
    border-radius: 4px;
    border: #CCC solid 1px;
    padding: 5px;
    font: 300 18px/30px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";
    vertical-align: middle;
}
textarea{ height: auto; resize : none; }
input[type="radio"]{ display: none; }
input[type="radio"] + label{
    display: inline-block;
    background-color: #ccc;
    border-radius: 4px;
    margin-right: 5px;
    padding: 5px 10px;
}
input[type="radio"]:checked + label{ background-color: #555; color: #fff; }
input[type="submit"], input[type="reset"]{ width: 30%; height: auto; margin: 30px; }
input[type="submit"]{ background-color: #4587F0; color: #FFF; }
input[type="submit"]:hover{ background-color: #68a9e3; }
input[type="reset"]{ color: #555; }
input[type="reset"]:hover{ background-color: #EEE; }


/*--footer其餘樣式--------------------------------------------------*/ 
footer{ background-color: #1e1f26; color: #FFF; }
    .ftitle{ font: 300 18px/30px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體"; }
    .aboutMe{
        margin: 10px auto 40px auto;
        padding: 20px 30px;
        border: thin solid #CCC;
        border-radius: 10px;
        font: 400 18px/30px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";
    }