@charset "utf-8";
/*--導入Google線上字型--------------------------------------------------*/
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body{margin: 0;}
a, a:hover{text-decoration: none;}

/*--flex水平及垂直版面設定--------------------------------------------------*/ 
.flex{
    display: flex;
    align-items: center;    
    justify-content: center;
    flex: 1 1 auto; /*IE11*/
}
.flex_COL{flex-direction: column; height:calc(100vh - 90px);/*IE11*/}
.gird{margin: 20px;}

/*--主內容區--------------------------------------------------*/ 
section, footer{
    min-height: 100vh;
    padding-top: 50px;
    text-align: center;
}
    h1{
        margin: 20px auto;
        font: 300 40px/60px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";
    }
/*--天氣區--------------------------------------------------*/ 
#home{
    background: url('../images/bg_home.jpg') no-repeat center center;
    background-size: cover;
    color: #FFF;
}
    /*--位置選擇--*/
    .bootstrap-select .btn {
        background-color: transparent;
        border: none;
        font: 300 45px/60px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";
        color: #FFF;
    }
    .bootstrap-select .btn[aria-expanded="true"]  {
        background-color: transparent;
        color: #FFF;
    }
    .dropdown-toggle::after {
        padding-left:20px;
        border: none;
        font: 900 25px "Font Awesome 5 Free";
        content: "\f107";
    }
    /*--目前天氣樣式--*/ 
    #currentTemp{font: 300 8vw/10vw 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";}
    .weatherInfo{font: 300 18px/35px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";}

/*--區塊二--------------------------------------------------*/ 
#section2{
    background: url('../images/bg_home.jpg') no-repeat center center;
    background-size: cover;
    color: #FFF;
}
    /*--天氣表格樣式--*/ 
    .tableRound{
        background-color:rgba(245,245,245,0.3);
        padding: 5px 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px #222;
    }
    table{
        width: 70vw;
        margin: 0 auto;
        color: #FFF;
        table-layout:fixed
    }
    table th{padding: 10px 15px; font: 300 15px/25px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";}
    table td{
        padding: 15px;
        border-top:thin solid rgba(20,20,20,0.5);
        font: 300 15px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";
    }

/*--區塊三--------------------------------------------------*/ 
#section3{
    background: url('../images/bg_home.jpg') no-repeat center center;
    background-size: cover;
    color: #FFF;
}

/*--footer其餘樣式--------------------------------------------------*/ 
footer{ background-color: #1e1f26; color: #FFF; }
    .ftitle{ font: 300 15px/30px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";}
    .aboutMe{
        margin: 10px auto 40px auto;
        padding: 20px 30px;
        border: thin solid #CCC;
        border-radius: 10px;
        font: 400 18px/30px 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";
    }

@media screen and (orientation: portrait) {
    #currentTemp{font: 300 10vh/12vh 'Open Sans', 'Noto Sans TC', arial, "微軟正黑體";}
    .flex{flex-direction: column;}
}
